### Signal Processing
#### Linear system:
$a_1x_1[n]+a_2x_2[n]\rightarrow a_1y_1[n]+a_2y_2[n]$
#### Time-invariant system:
$x[n]\rightarrow y[n], then\; x[n-n_0]\rightarrow y]n-n_0]$
<hr>
https://github.com/ostad-ai/Signal-Processing
<br> Explanation: https://www.pinterest.com/HamedShahHosseini/Signal-Processing

In [44]:
import pandas as pd

In [63]:
# A system definition
def y(n,x):
    if n==0:
        return 2*x[n]
    else:
        return 2*x[n]+x[n-1]

Homogeneity: $a\cdot x_1[n]\rightarrow a\cdot y_1[n]$

In [62]:
x1=[-2,-1,0,1,2]; x2=[1,0,1,0,1]; a=3
ax1=[a*x1i for x1i in x1]
ax2=[a*x2i for x2i in x2]
columns=['x[n]','y[n]','a*x[n]','a*y[n]','y[n] for a*x[n]']
rows=[]
for n in range(len(x1)):
    temp=[x1[n],y(n,x1),a*x1[n],a*y(n,x1),y(n,ax1)]
    rows.append(temp)
df=pd.DataFrame(rows,columns=columns)
df=df.style.set_caption('Checking Homogeneity:')
df

Additivity:$x_1[n]+x_2[n]\rightarrow y_1[n]+y_2[n]$

In [58]:
x1=[-2,-1,0,1,2]
x2=[1,0,1,0,1]
y1=[y(n,x1) for n in range(len(x1))]
y2=[y(n,x2) for n in range(len(x2))]
x12=[x1i+x2i for x1i,x2i in zip(x1,x2)]
columns=['x1[n]','y1[n]','x2[n]','y2[n]','x1[n]+x2[n]',
         'y1[n]+y2[n]','y[n] for x[n]=x1[n]+x2[n]']
rows=[]
for n in range(len(x1)):
    temp=[x1[n],y1[n],x2[n],y2[n],
          x1[n]+x2[n],y1[n]+y2[n],y(n,x12)]
    rows.append(temp)
df=pd.DataFrame(rows,columns=columns)
df=df.style.set_caption('Checking additivity:')
df

Time-invariant: $x[n-n_0]\rightarrow y[n-n_0]$

In [72]:
x=[-2,-1,0,1,2]; yn=[]; yn_D=[]; n0=2
x_D=n0*[0]
x_D.extend(x)
for n in range(len(x)):
    yn.append(y(n,x))
yn_D=n0*[0]
yn_D.extend(yn)
yn_x_D=[]
for n in range(len(x_D)):
    yn_x_D.append(y(n,x_D))
columns=['x[n-n0]','y[n-n0]','y[n] for x[n-n0]']
rows=[]
for n in range(len(x_D)):
    rows.append([x_D[n],yn_D[n],yn_x_D[n]])
df=pd.DataFrame(rows,columns=columns)
df=df.style.set_caption('Time-invariance:')
df